--wrapcollections before-first
--wraparguments before-first
--wrapparameters before-first
--header strip
--ifdef no-indent
--enable wrapSwitchCases
--enable organizeDeclarations
--enable redundantOptionalBinding
--swiftversion 5.7
--exclude **/*.pb.swift
