# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: macos-12

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: 'true'
    - name: Build
      run: swift build -v
    # - name: Run tests
      # run: swift test -v
